$dark-blue: #03050d;
$white-gray: #dfdede;
$white: #fff;
$light-gray: #ECECEC;
$light-purple: #aa9c9b;
// $gray: #575757;
// $gray: #59525a;
$gray: #7b7b7b;
$almost-white: #f3f3f3;
$peach: #f0d3c6;
$pink: #b26363;
$green: #cbe6dc;
$yellow: #aba121;


$beige: #f6f6f6;

$light-green: #eff3ee;
$purple: #9c4a95;
$smoke: #837e84;
$blue: #4849a4;