$dark-blue: #03050d;
$white-gray: #dfdede;
$white: #fff;
$light-gray: #ECECEC;
$light-purple: #aa9c9b;
// $gray: #575757;
$gray: #59525a;
$almost-white: #f3f3f3;
$pink: #f0d3c6;
// $green: #6ca99b;
$green: #43aa85;
// RGB: 67 170 133
$yellow: #aba121;


$beige: #f6f6f6;

$light-green: #eff3ee;
$purple: #9c4a95;
$smoke: #837e84;
$blue: #4849a4;