//*** Table of Contents //
// 1) Fonts
// 2) Colors
// 3) Mixins
// 4) Media All Queries
//    a) Setup
//    b) Base Styles
//    c) Header & Navigation
//    d) Footer
//    e) Portfoliio Affects
//     f) Other Layout Styles
//    g) Contact Form
// 5) Large Device Media Queries
// 6) Small Device Media Queries


//  **** Fonts **** //
@import 'fonts';

//  **** Colors **** //
@import 'colors';

// **** Mixins **** //
@mixin image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin font-regular {
  font-family: 'proxima_nova_rgregular';
}

@mixin font-light {
  font-family: 'proxima_novalight';
}

@mixin font-semiBold {
  font-family: 'proxima_novasemibold';
}

// **** Setup **** //

// Box Model Hack 
* {
 -moz-box-sizing: border-box; /* Firexfox */
 -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
 box-sizing: border-box; /* IE */
}

// Clear fix hack 
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.underlineText {
  text-decoration: underline;
}

b {
  @include font-semiBold;
}

.topMargin {
  margin-top: 30px;
}

.floatLeft {
  float: left;
}

body {
  @include font-regular;
}

// ================ Clean up later

.allCaps {
  text-transform: uppercase;
}

#header2.datavizPage {
  min-height: 700px;
  margin-bottom: 100px;
  h1 {
    color: $white-gray;
    @include font-light;
    margin-left: 30px;
    margin-top: 18px;
  }
  .nav {
    h2 {
      color: $white-gray;
      @include font-light;
      margin-top: 25px;
      margin-right: 20px;
      text-align: right;
    }
  }
  .aboveFold {
    img {
      display: block;
      width: 100%;
    }
  }
  .nav_links {
    a:hover {
      text-decoration: none;
    }
  }
}//#header2.prethesisPage

.dataviz {
  a {
    color: $blue;
    &:hover {
      text-decoration: underline;
    }
  }
  .tableauViz {
    max-height: 600px;
  }
  h2 {
    @include font-semiBold;
  }
  p.dataText {
    margin-top: 0;
  }
  .grayBorder {
    border: 5px solid $light-gray; 
  }
}

.template {
  h1 {
    text-align: center;
  }
  img.legend {
    width: 200px;
    margin-left: 15px;
  }
  .legendText {
    margin-left: 25px;
    color: $gray;
  }
}


