// **** --------------- LARGE DEVICE MEDIA QUERIES ----------------- *****//

@media screen and (max-width: 1199px) {
  #header {
    .container {
      nav {
        background-position: 5% -45px;  
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  section.portfolio {
    min-height: 685px;
  }
}

@media screen and (max-width: 970px) {
  section.portfolio {
    min-height: 675px;
  }
}

@media screen and (max-width: 920px) {
  .grid figure.image-effect p.description {
    font-size: 70%;
  }
  section.portfolio {
    min-height: 655px;
  }
}

@media screen and (max-width: 880px) {
  .grid figure.image-effect p.description {
    font-size: 58%;
  }
}

@media screen and (max-width: 880px) {
  .grid figure.image-effect p.description {
    font-size: 95%;
    bottom: 10em;
  }
}

@media screen and (max-width: 820px) {
  section.portfolio {
    min-height: 600px;
  }
}

@media screen and (max-width: 806px) {
  .grid figure.image-effect p.description {
    font-size: 85%;
    bottom: 11em;
  }
}

@media screen and (max-width: 769px) {
  .grid figure.image-effect p.description {
    font-size: 85%;
    bottom: 10em; 
  }
}

@media screen and (max-width: 768px) {
// ****  NAVIGATION  *****//
#header {
  .container {
    div.logo {
      img {
        width: 75%;
      }
    }
  }
} //#header

#contact {
  section.contact {
    form {
      .submit_button {
        margin-top: 22px; 
      }
    }
  }
}

} // media query min-width 768px

@media screen and (max-width: 758px) {
  .grid figure.image-effect figcaption .title {
    width: 240px;
  }
}

@media screen and (max-width: 740px) {
  .grid figure.image-effect figcaption .title {
    width: 190px;
  }
  .grid figure.image-effect h2 {
    font-size: 18px;
  }
  .grid figure.image-effect figcaption .title p.web_tech {
    font-size: 11px;
  }
  section.portfolio {
    min-height: 550px;
  }
}

@media screen and (max-width: 733px) {
  ul.nav_links {
    li {
      font-size: 22px;
      font-weight: 100;
    }
  } //ul.navlinks
}

@media screen and (max-width: 700px) {
  section.portfolio {
    min-height: 500px;
  }
}

@media screen and (max-width: 666px) {
  ul.nav_links {
    li {
      font-size: 22px;
      font-weight: 100;
    }
  } //ul.navlinks
  .grid figure.image-effect p.description {
    font-size: 75%;
    bottom: 7.5em;
  }
}

@media screen and (max-width: 599px) {
  .grid figure.image-effect p.description {
    font-size: 67%;
    bottom: 7.5em;
  }
}

@media screen and (max-width: 530px) {
  .grid figure.image-effect p.description {
    font-size: 60%;
    bottom: 7.5em;
  }
}

@media screen and (max-width: 460px) {
  #header {
    .container {
      nav {
        ul.nav_links {
          li {
            font-size: 30px;
          }
        }
      }
    }
  }
  .grid figure.image-effect p.description {
    font-size: 50%;
    bottom: 7em;
  }
}

@media screen and (max-width: 390px) {
  #header {
    .container {
      nav {
        ul.nav_links {
          li {
            font-size: 25px;
          }
        }
      }
    }
  }
  .grid figure.image-effect figcaption .title {
    width: 170px;
  }
  .grid figure.image-effect h2 {
    font-size: 14px;
  }
  .grid figure.image-effect figcaption .title p.web_tech {
    font-size: 9px;
  }
  .grid figure.image-effect p.description {
    font-size: 43%;
    bottom: 7em;
  }
  .grid figure.image-effect p.icon-links a.github {
    background-size: 35px;
    width: 35px;
    height: 34px;
  }
  .grid figure.image-effect p.icon-links a.link {
    background-size: 30px;
    width: 30px;
    height: 30px;
  }
  .grid figure.image-effect figcaption {
    height: 2.75em;
  }
}

// **** --------------- SMALL DEVICE MEDIA QUERIES ----------------- *****//

@media screen and (max-width: 767px) {
  #header {
    .container {
      div.logo {
        border-right: 0px;
        border-bottom: 5px solid $light-gray;
        img {
          margin: 50px auto;
        }
      }
    }  
  }



  nav ul.nav_links, #header2 ul.nav_links {
    margin: auto;
    text-align: center;
  }

  #contact {
    section.contact {
      form {
        .submit_button {
          margin-top: 10px; 
        }
      }
    }
  }
  footer {
    .footer_links, p.text {
      text-align: center;
    }
    p.text {
      padding-top: 0px;
    }
  }
} // media query max-width 767px

@media screen and (max-width: 550px) {

} // media query max-width 550px

