//*** Table of Contents //
// 1) Fonts
// 2) Colors
// 3) Mixins
// 4) Media All Queries
//    a) Setup
//    b) Base Styles
//    c) Header & Navigation
//    d) Footer
//    e) Portfoliio Affects
//     f) Other Layout Styles
//    g) Contact Form
// 5) Large Device Media Queries
// 6) Small Device Media Queries


//  **** Fonts **** //
@import 'fonts';

//  **** Colors **** //
@import 'colors';

// **** Mixins **** //
@mixin image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin font-regular {
  font-family: 'proxima_nova_rgregular';
}

@mixin font-light {
  font-family: 'proxima_novalight';
}

@mixin font-semiBold {
  font-family: 'proxima_novasemibold';
}

@mixin grayLine {
  .grayLine {
    @include image-replacement;
    background: url(../images/grayLine.png) $dark-blue;
    margin-top: 20px;
  }
}

// **** Setup **** //

// Box Model Hack 
* {
 -moz-box-sizing: border-box; /* Firexfox */
 -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
 box-sizing: border-box; /* IE */
}

// Clear fix hack 
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


// **** --------------- BASE STYLES ----------------- *****//

body, h1, h2, h3, h4 {
  font-family: 'proxima_nova_rgregular', sans-serif;
}

body {
  font-size: 100%;
  width: 100%;
  line-height: 1.4;
  color: $dark-blue;
}

a {
  text-decoration: none;
  color: $dark-blue;
}

h2 {
  font-weight: 400;
  margin: 0;
}

b {
  @include font-semiBold;
}

section {
  padding: 20px 0 25px 0;
}

.pad-left-zero {
  padding-left: 0;
}

.pad-right-zero {
  padding-right: 0;
}

img.image100 {
  width: 100%;
}

img.image90 {
  width: 90%;
}

img.image80 {
  width: 80%;
  display: block;
  margin: auto;
}

// ****  HEADER & NAVIGATION ****//
#header {
  background: url(../images/bg-flower.png) no-repeat $dark-blue;
  min-height: 800px;
  background-size: auto 1200px;
  background-position: 60% -25%;
  .container {
    margin: 0 auto 5px auto;
    div.logo {
      margin-top: 30px;
      margin-bottom: 30px;
      img {
        display: block;
        margin: 15% auto;
        width: 60%;
      }
      .jobTagline { 
        font-family: 'proxima_novalight'; 
        color: white; 
        text-align: center;
        text-transform: uppercase; 
        font-size: 25px; 
        letter-spacing: 3px; 
        display: block; 
        margin-top: -250px; 
        margin-left: 76px;
      }
    }//.logo
  }
} //#header

nav, #header2 {
  background-color: $dark-blue;
  margin: auto;
  text-align: left;
  ul.nav_links {
    margin-top: 25px;
    li{
      float: left;
      padding-top: 5px;
      padding-bottom: 5px;
      a {
        display: block;
        color: $white-gray;
        font-size: 16px;
        @include font-light;
        letter-spacing: 2px;
        text-align: center;
      }
      // &.second a {
      //   padding-left: 15px;
      // }
      &:hover {
        border: 1px solid $white-gray;
        padding: 4px 9px;
      }
    }

  } //ul.navlinks
}

#header, #header2 {
  @include grayLine; 
}

#header2 {
  padding-top: 0px;
  height: 80px;
  ul.nav_links{
    margin-top: 20px;
    margin-left: 0px;
    li {
      font-size: 25px;
      text-align: center;
    }
  }
}

.blackLine {
  @include image-replacement;
  background: url(../images/blackLine.png);
  margin-top: 25px;
}

// **** SECTIONS **** //
div.gray_border {
  height: 5px;
  width: 100%;
  background-color: $light-gray;
}

section {
  h1 {
    &.section_heading {
      font-size: 25px;
      color: $dark-blue;
      letter-spacing: 2px;
      text-align: center;
      @include font-light;
      margin-top: 15px;
    }
  }
}

.designLine {
  @include image-replacement;
  background: url(../images/darkBlue_line.png) $almost-white;
  margin-top: 30px;
  height: 1px;
}

#portfolio {
  background-color: $almost-white;
  &.techstartup {
    h2, h3, h6 {
      text-align: left;
    }
    h6 {
      margin: 0px 20px;
    }
    h2 {
      margin-left: 10px;
    }
    h3 {
      margin-left: 20px;
      margin-top: 5px;
    }
    .pagePreview {
      h2 {
        text-align: left;
        margin: 20px 10px; 
        color: $dark-blue;
      }
    }
  }
  &.boldsPage {
    h2, h3 {
      text-align: left;
    }
    h2 {
      padding-left: 0px;
    }
  }
  &.comingSoon {
    h2 {
      margin-top: 100px;  
    }
  }
  // Pickee Page
  &.pickee-project {
    background-color: $white;
    table {
      background-color: $white;
      ul {
        padding-left: 20px;
      }
    }
    th, td {
      border: 1px solid $light-gray;
    }
    th, td {
      padding: 10px;
    }
    th {
      background-color: $light-gray;
      border: 1px solid $white-gray;
      @include font-semiBold;
    }
    td.first-cell {
      width: 150px;
    }
    td {
      img {
        display: block;
        margin: auto;
        &.appPreviewImage {
          height: 400px;
          width: auto;
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
    }
    .survey-results {
      img {
        margin-top: 16px;
      }
    }
    .user-persona {
      img {
        border: 2px solid $almost-white;
        margin-bottom: 15px;
      }
    }
    .margintop16 {
      margin-top: 16px;
    }
  }//.pickee-project
  .mobile-ca {
    background-color: $almost-white;
    margin-top: 15px;
    padding: 20px;
    h3 {
      margin-top: 0;
    }
    ul {
      padding-left: 20px;
    }
  }
}//#portfolio

section.portfolio {
  min-height: 1100px;
  .main {
    margin-top: -15px;
  }
}

section.about {
  // background-color: #e8f0ee;
  // background-color: rgba(232, 240, 238, 0.62);
  background-color: $white;
  color: $dark-blue;
  h1 {

  }
  h2 {
    color: $dark-blue;
    margin-bottom: 15px;
  }
  h4 {
    margin-bottom: 5px;
    font-size: 22px;
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    font-size: 18px;
    @include font-light;
    b {
      @include font-semiBold;
    }
  }
  #skills {
    .skillSection {
      clear: both;
      .webDevSkills, .designSkills, .managementSkills,
      .databaseSkills, .cloudSkills {
        margin-bottom: 20px;
      }
      h5 {
        @include font-light;
        font-size: 20px;
        margin: 10px auto;
        padding-top: 10px;
        color: $gray;
        &.firstTitle {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
      .skillContainer {
        padding-left: 0px;
        .skillBox {
          text-align: center;
          background-color: $green;
          // background-color: #48888a;
          color: $almost-white;
          margin-bottom: 5px;
          padding: 5px 10px;
        }//.skillBox
      }//.skillContainer
    }//.skillSection
  }//#skills
}

// **** FOOTER **** //
footer {
  // background: url(../images/bg-flower.png) no-repeat $dark-blue;
  // background-position: -500px -200px;
  // background-size: 875px;
  background-color: $dark-blue;
  color: $almost-white;
  height: 80px;
  padding: 20px;
  p.text {
    text-align: left;
  }
  .footer_links {
    display: inline-block;
    a {
      display: inline-block;
      float: right;
      &.linkedin {
        background: url('../images/linkedin_icon.png') no-repeat;
        background-position: 0px 0px;
        background-size: 40px;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        @include image-replacement;
        &:hover {
          background-position: 0px -39px;
        }
      }
      &.github {
        background: url('../images/github_icon.png') no-repeat;
        background-position: 0px 0px;
        background-size: 40px;
        width: 40px;
        height: 39px;
        @include image-replacement;
        &:hover {
          background-position: 0px -39px;
        }
      }
    }
  }
}

// ****  PORTFOLIO AFFECTS **** //

// Thumbnail Grid 

.og-grid li {
  height: 300px;
  margin-top: 15px;
}

.og-details h3 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  font-size: 45px;
}

.og-details a {
  color: $dark-blue;
  border: 2px solid $dark-blue;
}

.og-details p {
  color: $gray;
}

// Old grid (used in personal pages)

.grid {
  position: relative;
  margin: 0 auto;
  padding-top: 1em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #000;
    text-align: center;
    img {
      position: relative;
      display: block;
      max-width: 100%;
    }
    figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      margin: 0;
    }
    p {
      margin: 0;
      letter-spacing: 1px;
      font-size: 68.5%;
    }
    &.image-effect {
      padding: 0;
      margin-bottom: 20px;
      &:hover {
        img.port_img {
          opacity: 0.4;
        }
      }
      figcaption {
        top: auto;
        bottom: 0;
        padding: 7px;
        height: 3.75em;
        background: #fff;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
        .title {
          width: 250px;
          float: left;
          margin-left: 10px;
          p.web_tech {
            text-transform: lowercase;
            color: $gray;
            float: left;
            letter-spacing: 0;
            font-size: 12px;
            text-align: left;
          }
        }
      }
      h2 {
        float: left;
        display: inline-block;
        font-size: 20px;
        a {
          color: $purple;
          &:hover {
            color: $green;
          }
        }
      }
      p {
        &.icon-links { 
          margin-right: 10px;
          a {
            float: right;
            color: #3c4a50;
            font-size: 1.4em;
            margin-top: 15px;
            margin-right: 20px;
            &.link {
              background: url('../images/link_icon.png') no-repeat;
              background-position: 0px 1px;
              background-size: 35px;
              width: 40px;
              height: 35px;
              margin: 10px auto;
              display: block; 
              @include image-replacement;
              &:hover {
                background-position: 0px -33px;
              }
            }
            &.github {
              background: url('../images/github_icon.png') no-repeat;
              background-position: 0px 0px;
              background-size: 40px;
              width: 40px;
              height: 39px;
              margin: 10px auto;
              display: block; 
              @include image-replacement;
              &:hover {
                background-position: 0px -39px;
              }
            }
          }
        }
        &.description {
          position: absolute;
          bottom: 6em;
          padding: 15px;
          color: #fff;
          text-transform: none;
          font-size: 75%;
          font-weight: 300;
          opacity: 0;
          -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s;
          -webkit-backface-visibility: hidden; 
        }
      }
    } //end of .image-effect
  } //end of .figure
} //end of .grid

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}


figure.image-effect figcaption div.title p, 
figure.image-effect h2,
figure.image-effect p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
}

figure.image-effect:hover p.description {
  opacity: 1;
}

figure.image-effect:hover figcaption,
figure.image-effect:hover figcaption div.title p,
figure.image-effect:hover h2,
figure.image-effect:hover p.icon-links a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.image-effect:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.image-effect:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.image-effect:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.image-effect:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

//**** OTHER LAYOUT STYLES ****//
#returntotop {
  z-index: 9997;
  position: fixed;
  bottom: 40%;
  right: 3.5%;
  display: none;
  p {
    display: block;
    color: $pink;
    font-size: 24px;
    cursor: default;
    line-height: 0;
  }
  &:hover {
    p {
      color: $almost-white;
    }
  }
}

.homebutton {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  word-spacing: 1px;
  background-color: none;
  color: $pink;
  line-height: 42px;
  width: 40px;
  height: 40px;
  border: 2px solid $pink;
  display: block;
  text-align: center;
  &:hover {
    background-color: $pink;
    color: $almost-white;
  }
}

.heart {
  color: $pink;
}

.text {
  font-size: 12px;
  line-height: 1.6;
  font-family: 'proxima_nova_rgregular', sans-serif;
}
